
<% content_for :for_head do %>
  <%= stylesheet_link_tag "application-bacheca_guidas" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "application-post.css" %>
<% end %>    

<%=render 'layouts/navbar'%>

      <div class="container">
        <div class="block" id="3">
          <div class="box">
            <%if @other_user.avatar.attached?%>
              <div class="image">
                <%= image_tag @other_user.avatar %>
              </div>
            <%end%>
          </div>

          <div class="content">
              <% if(@other_user.username == '' || @other_user.username == nil) %>
                <h2><%= @other_user.name %></h2>
              <%else%>
                <p><h3><%= @other_user.username %></h3></p>
              <%end%>
              <br>
              <br>
              <p><h3><%= @bacheca_guida.description %></h3></p>
              <br>
              <br>
              <p><h3>Lingue parlate:
              <% if @other_user.languages.present? %>
                <% @other_user.languages.each do |linguaggio| %>
                  <%= linguaggio.name %>
                <% end %>
              <% else %>
                Nessuna lingua specificata
              <% end %>
              </h3></p>
          </div>



        </div>

    <!-- Si fanno vedere tutti i post pubblicati generati dal più recente-->
    <% @posts.each_with_index do |post, index| %>
  <% if post.persone_rimanenti != 0 %>
  <% if ((Time.now.strftime("%Y-%d-%m") < post.data.strftime("%Y-%d-%m")) || ((Time.now.strftime("%H:%M:%S") < post.ora.strftime("%H:%M:%S")) && (Time.now.strftime("%Y-%d-%m") == post.data.strftime("%Y-%d-%m")))) %>
      <%= puts index %>
      <% if (index.odd? || index==0) %>
        <ul class="cards">
      <% end %> 
      <li class='card'>
      <h3 class='card-title'>
          <%= post.titolo %>
          <% if post.expired? %>
            - scaduto
          <% end %>
      </h3>
      <div class='card-content'>
          <p>
              <%= post.descrizione%>
          </p>
          <hr> 
          <h4 style='font-size: 15px'>Città: <%= post.nomeC %> <br/></h4>
          </div>
          
          <div class='card-languages'>
              <h4>
                  Lingua: <span style='font-weight: normal;'><%= post.lingua %></span> <br />
                  Data e ora: <span style='font-weight: normal'><%= post.instance_variable_get(:@data) %> <%= post.instance_variable_get(:@ora) %></span>
              </h4>
          </div>
          <div class='card-link-wrapper'>
              <% if !user_signed_in? %>
                <%= link_to 'Contatta', conversation_path(other_email: post.user_email), class: "card-link"%>
              <% elsif current_user.email != post.user_email %>
                <%= link_to 'Contatta', conversation_path(other_email: post.user_email), class: "card-link"%>
              <% end %>
              <br>
              <% if post.expired? %>
                <%= link_to "Vedi recensioni", post_path(post), class: "card-link" %>
              <% else %>
                <%= link_to post.instance_variable_get(:@total_price), post_path(post), class: "card-link" %>
              <% end %>
              <br>
          </div>
          </li> 
      <% if index.even? || index == @posts.size %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>