<% content_for :for_head do %>
  <%= stylesheet_link_tag "application-bacheca_guidas" %>
  <%= stylesheet_link_tag "application" %>
<% end %>    

<%=render 'layouts/navbar'%>

      <div class="container">
        <div class="block" id="3">
          <div class="box">
            <div class="image">
              <img src="<%= image_path("guida1.webp") %>" alt="Immagine">
            </div>
          </div>

          <div class="content">
              <h3><%=@name%></h3>
              <br>
              <br>
              <p><%=@bacheca_guida.description%></p>
          </div>


          <div class="dropdown">
            <div class="dropdown-icon">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            <div class="dropdown-content">
              <a href="#">Modificare username</a>
              <a href="#">Modificare la password</a>
              <a href="#">Cambia immagine</a>
              <%= link_to "Modifica Descrizione", edit_bacheca_path(@bacheca_guida.id) %>
              <a href="#">Cancellare l'account</a>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="coll">
        <div class="center">
          <button id="btn_" class="btn-1" onclick="return button();">
            Pubblica una scheda!
          </button>
        </div>
        <div class="center">
          <button
            id="view"
            class="btn-2"
            onclick="return button_2();"
          >
            Guarda le tue schede
          </button>
        </div>
      </div>
    </div>
    <div
      id="msg"
      style="
        color: green;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        display: none;
      "
    >
      Scheda caricata!
    </div>
    <div
      style="position: relative; left: 5%; width: 90%"
      id="view_area"
      class="view_area"
    ></div>
    <form
      id="form"
      method="POST"
      action="bacheca_form.php"
      onsubmit="return validateForm();"
    >
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationDefault02">Descrizione</label>
          <textarea
            style="font-size: large; background-color: transparent"
            cols="40"
            rows="9"
            type="text"
            maxlength="400"
            class="form-control"
            id="validationDefault02"
            placeholder="Text"
            value="Otto"
            name="description"
            required
          ></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationDefault01">Titolo</label>
          <input
            style="font-size: large; background-color: transparent"
            type="text"
            class="form-control"
            id="validationDefault01"
            placeholder="Visita al Vaticano"
            name="title"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="validationDefault03">Luogo</label>
          <input
            style="font-size: large; background-color: transparent"
            type="text"
            class="form-control"
            id="validationDefault03"
            placeholder="Luogo"
            name="luogo"
            required
          />
        </div>
        <div class="col-md-2 mb-3">
          <label for="orario">Data</label>
          <input
            style="font-size: large; background-color: transparent"
            type="date"
            class="form-control"
            id="data"
            placeholder="MM/GG/AAAA"
            name="data"
            required
          />
        </div>
        <div class="col-md-1 mb-3">
          <label for="orario">Orario</label>
          <input
            type="time"
            style="font-size: large; background-color: transparent"
            class="form-control"
            id="orario"
            placeholder="11:30"
            name="orario"
            required
          />
        </div>
      </div>
      <br />
      <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="numeroPersone">Numero Persone</label>
          <input
            style="font-size: large; background-color: transparent"
            type="number"
            id="numeroPersone"
            min="1"
            max="25"
            class="form-control"
            name="num_per"
            required
          />
        </div>

        <div class="col-md-2 mb-3">
          <label for="ore">Ore</label>
          <input
            style="background-color: transparent"
            type="number"
            id="ore"
            min="3"
            class="form-control"
            name="ore"
            required
          />
        </div>

        <div class="col-md-2 mb-3">
          <label for="prezzo">Prezzo all'ora</label>
          <input
            style="background-color: transparent"
            type="number"
            step="any"
            id="prezzo"
            min="50"
            max="80"
            class="form-control"
            name="prezzo"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="validationDefault04">Città</label> <br />
          <select
            style="background-color: transparent"
            size="1.1"
            cols="4"
            name="citta"
            class="custom-select"
            id="validationDefault04"
            name="citta"
          >
            <option value="Roma">Roma</option>
            <option value="Napoli">Napoli</option>
            <option value="Firenze">Firenze</option>
            <option value="Pozzuoli">Pozzuoli</option>
          </select>
        </div>

        <div class="col-md-3 mb-3">
          <label for="validationDefault04">Lingue</label> <br />
          <select
            style="background-color: transparent"
            size="1.1"
            cols="4"
            class="custom-select"
            name="lingue"
          >
            <option selected value="Italiano">Italiano</option>
            <option value="Inglese">Inglese</option>
            <option value="Tedesco">Tedesco</option>
            <option value="Russo">Russo</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="invalidCheck2"
            required
          />
          <label class="form-check-label" for="invalidCheck2">
            Agree to terms and conditions
          </label>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" id="sub">Pubblica</button>
    </form>
    <br />

    <!--JQuery-->
    <script>
      $(window).on("load", function () {
        $.ajax({
          url: "bacheca_wol.php",
          success: function (data) {
            window.location = "login.html";
          },
        });
      });
    </script>
