<% content_for :for_head do %>
  <%= stylesheet_link_tag "application-bacheca_guidas" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "application-post.css" %>
<% end %>    

<%=render 'layouts/navbar'%>

      <div class="container">
        <div class="block" id="3">
          <div class="box">
            <%if current_user.avatar.attached?%>
              <div class="image">
                <%= image_tag current_user.avatar %>
              </div>
            <%end%>
          </div>

          <div class="content">
              <%if(current_user.username == '' || current_user.username == nil)%>
                <h2><%=@name%></h2>
              <%else%>
                <p><h3>@<%=current_user.username%></h3></p>
              <%end%>
              <br>
              <br>
              <p><h3><%=@bacheca_guida.description%></h3></p>
              <br>
              <br>
              <p><h3>Lingue parlate:
              <% if current_user.languages.present? %>
                <% current_user.languages.each do |linguaggio| %>
                  <%= linguaggio.name %>
                <% end %>
              <% else %>
                Nessuna lingua specificata
              <% end %>
              </h3></p>
          </div>


          <div class="dropdown">
            <div class="dropdown-icon_1">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            <div class="dropdown-content">
              <%= link_to "Modifica Username, Lingue e Città", edit_username_path(), method: :patch %>
              <%= link_to "Modifica Descrizione", edit_bacheca_path(@bacheca_guida.id) %>
              <%= link_to 'Cancella Account', registration_path(current_user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
            </div>
          </div>

          <div class="container_100">
            <div class="image-upload">
              <%= form_with(url: immagine_path, method: :patch, local: true, multipart: true) do |form| %>
                <%= form.file_field :avatar, class: 'image-upload__input' %>
                <%= form.submit 'Cambia immagine', class: 'image-upload__button' %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
      <br />
      <div class="coll">
        <div class="center">
          <button id="btn_" class="btn-1" onclick="return button();">
            <%= t('Pubblica una scheda') %>
          </button>
        </div>
        <div class="center">
          <button id="view" class="btn-2" onclick="return button_2();">
            <%= t('Guarda le tue schede') %>
          </button>
        </div>
      </div>
    </div>
  <%= current_user.email%>

  <div
      style="position: relative; left: 5%; width: 90%"
      id="view_area"
      class="view_area"
  ></div>

<%= form_with(model: @post, url: posts_path, local: true, html: { id: 'form' }, class: 'sparisci') do |form| %>
    <div class="form-row_10">
      <div class="col-md-6 mb-3">
        <%= form.label :descrizione, 'Descrizione' %>
        <%= form.text_area :descrizione, class: 'form-control_10', rows: 9, maxlength: 400, required: true %>
      </div>
    </div>

    <div class="form-row_10">
      <div class="col-md-6 mb-3">
        <%= form.label :titolo, 'Titolo' %>
        <%= form.text_field :titolo, class: 'form-control_10', maxlength: 30, required: true %>
      </div>
    </div>

    <div class="form-row_10">
      <div class="col-md-3 mb-3">
        <%= form.label :address, 'Indirizzo' %>
        <%= form.text_field :address, class: 'form-control_10', required: true %>
      </div>

      <div class="col-md-2 mb-3">
        <%= form.label :data, 'Data' %>
        <%= form.date_field :data, class: 'form-control_10', id: 'date-input', required: true %>
        <small id="dateHelp" class="form-text text-muted">Inserisci una data futura.</small>
      </div>

      <div class="col-md-1 mb-3">
        <%= form.label :ora, 'Ora' %>
        <%= form.time_field :ora, class: 'form-control_10', id: 'time-input', required: true %>
        <small id="timeHelp" class="form-text text-muted">Inserisci un orario futuro.</small>
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var dateInput = document.getElementById('date-input');
          var dateHelp = document.getElementById('dateHelp');
          var timeInput = document.getElementById('time-input');
          var timeHelp = document.getElementById('timeHelp');

          dateInput.addEventListener('change', function() {
            validateDateTime();
          });

          timeInput.addEventListener('change', function() {
            validateDateTime();
          });

          function validateDateTime() {
            var selectedDate = new Date(dateInput.value);
            var selectedTime = timeInput.value;
            var currentDateTime = new Date();
            
            var enteredDateTime = new Date(selectedDate.getFullYear(), selectedDate.getMonth(), selectedDate.getDate(), selectedTime.substring(0, 2), selectedTime.substring(3, 5));
            
            if (enteredDateTime < currentDateTime) {
              dateHelp.textContent = "Inserisci una data e un orario futuri.";
              timeHelp.textContent = "Inserisci una data e un orario futuri.";
              dateInput.setCustomValidity("La data e l'orario devono essere futuri");
              timeInput.setCustomValidity("La data e l'orario devono essere futuri");
            } else {
              dateHelp.textContent = "Inserisci una data futura.";
              timeHelp.textContent = "Inserisci un orario futuro.";
              dateInput.setCustomValidity("");
              timeInput.setCustomValidity("");
            }
          }
        });
      </script>



    </div>
    <br />
    <div class="form-row_10">
      <div class="col-md-2 mb-3">
        <%= form.label :persone, 'Persone' %>
        <%= form.number_field :persone, class: 'form-control_10', min: 10, max: 30, required: true %>
      </div>

     <div class="col-md-2 mb-3">
    <%= form.label :persone_lastminute, 'Persone (Last_Minute)' %>
    <%= form.number_field :persone_lastminute, id: 'post_persone_lastminute', class: 'form-control_10', min: 1, max: 5, required: false %>
    <br>
    <%= form.check_box :require_persone_lastminute, { class: 'toggle-required', onchange: 'toggleRequired()' } %> 
    <%= form.label :require_persone_lastminute, 'Rendi obbligatorio' %>
</div>

<script>
    function toggleRequired() {
        var checkbox = document.querySelector('.toggle-required');
        var inputField = document.querySelector('#post_persone_lastminute');

        if (checkbox.checked) {
            inputField.setAttribute('required', 'required');
        } else {
            inputField.removeAttribute('required');
        }
    }
</script>


      <div class="col-md-2 mb-3">
        <%= form.label :numero_ore, 'Numero ore' %>
        <%= form.number_field :numero_ore, class: 'form-control_10', min: 2, max: 5, required: true %>
      </div>

      <div class="col-md-2 mb-3">
        <%= form.label :prezzo, 'Prezzo ora' %>
        <%= form.number_field :prezzo, class: 'form-control_10', min: 10, max: 50, required: true %>
      </div>

    </div>

    <div class="form-row_10">
      <div class="col-md-3 mb-3">
        <%= form.label :nomeC, 'Città' %>
        <%= form.text_field :nomeC, class: 'form-control_10', required: true %>
      </div>
      <script>

      </script>

      <div class="col-md-3 mb-3">
        <%= form.label :lingua, 'Lingua' %>
        <%= form.text_field :lingua, class: 'form-control_10', required: true %>
      </div>
    </div>

   
    

    <%= form.submit 'Pubblica', class: 'btn btn-primary_10' %>
  <% end %>

  <%= javascript_include_tag "script_bacheca", data: {controller_url: index_for_post_path, controller_url2: posts_destroy_for_user_path}%>

<ul id="lista" class="cards" style='display:flex'>
</ul>