<p style="color: green"><%= notice %></p>

<%= render @postum %>

<div>
  <%= link_to "Edit this postum", edit_postum_path(@postum) %> |
  <%= link_to "Back to posta", posta_path %>

  <%= button_to "Destroy this postum", @postum, method: :delete %>
</div>
