<% content_for :for_head do %>
    <%= stylesheet_link_tag "application-messages" %>
    
    <style>
    .my-message{
        
        background-color: green !important;
        
        
    }
    .not-my-message{
        justify-content: left;

    }
    </style>
<% end %>
<%= render partial: 'layouts/user', locals: {user: @guide_user}%>
<div id='room-id' data-room-id="<%=@conversation.try(:id)%>"></div>

<div id='messages-container'>
    <% @messages.each do |message|%>
        <%= render 'messages/message', message: message%>
    <%end%>
</div>

<div>
    <%= render 'messages/form', message: Message.new, 
    conversation: @conversation%>
</div>