<p style="color: green"><%= notice %></p>

<%= render @turista %>

<div>
  <%= link_to "Edit this turistas", edit_turista_path(@turista) %> |
  <%= link_to "Back to turistas", turistas_index_path %>

  <%= button_to "Destroy this turistas", @turista, method: :delete %>
</div>
