<p style="color: green"><%= notice %></p>

<%= render @guida %>

<div>
  <%= link_to "Edit this guida", edit_guida_path(@guida) %> |
  <%= link_to "Back to guidas", guidas_path %>

  <%= button_to "Destroy this guida", @guida, method: :delete %>
</div>
