<%= form_with(model: @booking, url: bookings_path, local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "errore") %> ha impedito di effettuare la prenotazione:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, value:(@price), readonly: true %>
  </div>
  <%= form.hidden_field :num_pers, value: @num_pers %>

  <div class="field">
    <%= form.label :card_number, 'Card Number' %>
    <%= form.text_field :card_number, placeholder: 'Enter card number' %>
  </div>

  <div class="field">
    <%= form.label :exp_month, 'Expiration Month' %>
    <%= form.text_field :exp_month, placeholder: 'Enter expiration month' %>
  </div>

  <div class="field">
    <%= form.label :exp_year, 'Expiration Year' %>
    <%= form.text_field :exp_year, placeholder: 'Enter expiration year' %>
  </div>

  <div class="field">
    <%= form.label :cvc, 'CVC' %>
    <%= form.text_field :cvc, placeholder: 'Enter CVC' %>
  </div>

  <%= form.hidden_field :post_id %>

  <div class="actions">
    <%= form.submit 'Prenota e Paga' %>
  </div>
<% end %>

