<% content_for :for_head do %>
<<<<<<< HEAD
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <%= stylesheet_link_tag "application-guides" %>
  <%= stylesheet_link_tag "application" %>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4CVx_y35NwW07nB7CCOi0HLQu44HVov0&callback=init_map" async defer></script>


<%=render 'layouts/navbar'%>
<div class="container-search">
  <div class="search_container" id="search">
    <%= form_with(url: url_for(controller: 'pages', action: 'guides'), method: 'post', id: 'myform', data: { remote: true }) do |form| %>
      <div class="search-bar_center">
        <%= text_field_tag(:nome, nil, placeholder: t('nome'), id: 'cerca') %>
        <%= text_field_tag(:citta, nil, placeholder: t('citta'), id: 'cercacitta') %>
        <%= text_field_tag(:linguaggio, nil, placeholder: t('lingua'), id: 'cercalingua') %>
        <%= text_field_tag(:nazione, nil, placeholder: t('nazione'), id: 'cercanazione') %>
      </div>
      
    <% end %>
  </div>
</div>
<button id="see_map" onclick="return see_map();">Let me see the map</button>

  <div id="map_container" class="map_container">
    <div id="mapDiv" class="map_class"></div>
  </div>


<section class="swiper mySwiper">
  <div class="swiper-wrapper" id="guides-wrapper">
  <%= render 'guides_results', guides: @guides %>
  
  
  </div>
</section>

<script>
  var a;
  function myfunction() {
    if (
      navigator.userAgent.match(/webOS/i) ||
      navigator.userAgent.match(/iPhone/i) ||
      navigator.userAgent.match(/iPod/i) ||
      navigator.userAgent.match(/BlackBerry/i) ||
      navigator.userAgent.match(/Windows Phone/i)
    ) {
      a = true;
      const home = document.getElementById("home");
      home.remove();
      const search = document.getElementById("searchbar");
      search.remove();
    } else {
      a = false;
    }
    //alert(a);
  }
  myfunction();
</script>
  
<script>
$(document).ready(function() {
  var cercaValue = '';
  var cercacittaValue = '';
  var cercaLinguaValue='';
  var cercaNazioneValue='';
  $('#cerca').on('input', function() {
    cercaValue = $(this).val();
    $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cerca"
  });
    $('#cercalingua').on('input', function() {
    cercaLinguaValue = $(this).val();
    $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cerca"
  });
  $('#cercacitta').on('input', function() {
    cercacittaValue = $(this).val();
    $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cercacitta"
  });
    $('#cercanazione').on('input', function() {
    cercaNazioneValue = $(this).val();
    $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cercacitta"
  });

  $('#myform').on('submit', function(event) {
    event.preventDefault(); // Evita il comportamento predefinito del browser di sottomissione del modulo
    var form = $(this);
    
    $.ajax({
      url: form.attr('action'),
      method: form.attr('method'),
      data: form.serialize(),
      success: function(response) {
        $('#guides-wrapper').html(response);
        $('#cerca').val(cercaValue);
        $('#cercacitta').val(cercacittaValue);
        $('#cercalingua').val(cercaLinguaValue);
        $('#cercanazione').val(cercaNazioneValue);
      }
    });
  });
});



</script>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <%= javascript_include_tag "script_guide" %>
=======
  <%= stylesheet_link_tag "application-guides"%>
  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<% end %>

<div class="all_header" style="background-image: url('<%= image_path('banner_mario.jpg')%>')">
<h1>Discover</h1>
<p>Go ever wherever</p>
</div>
<div class="navheader" id="navbar">
    <nav class="navbar">
        <a href="<%= home_pages_path %>">Home</a>
        <a href="app.html">Visite</a>
        <%= link_to 'Guide', guides_path %>
        <%if !user_signed_in?%>
            <a href="<%= new_user_session_path() %>">Login</a>
        <%end%>
        <%if user_signed_in?%>
            <%=link_to "Logout", destroy_user_session_path, :method => :delete %>
        <%end%>
        <a href="bacheca.html">Profilo</a>
    </nav>
</div>
    <section class="swiper mySwiper">

      <div class="swiper-wrapper">
  
        <div class="card swiper-slide">
          <div class="card__image">
            <%= image_tag "guida1.webp", class: 'card image'%>
            
          </div>
  
          <div class="card__content">
            <span class="card__title">Vanessa Martinez</span>
            <p class="card__text">Città: Roma</p>
            <p class="card__text">Lingue: Italiano, Inglese</p>
            <button class="card__btn">Profilo</button>
          </div>
        </div>
  
        <div class="card swiper-slide">
          <div class="card__image">
          <%= image_tag "guida2.webp", class: 'card image'%>
            
          </div>
  
          <div class="card__content">
            <span class="card__title">Sarah Bowen</span>
            <p class="card__text">Città: Roma</p>
            <p class="card__text">Lingue: Italiano, Inglese</p>
            <button class="card__btn">Profilo</button>
          </div>
        </div>
  
        <div class="card swiper-slide">
          <div class="card__image">
          <%= image_tag "guida3.webp", class: 'card image'%>
            
          </div>
  
          <div class="card__content">
            <span class="card__title">David Murphy</span>
            <p class="card__text">Città: Roma</p>
            <p class="card__text">Lingue: Italiano, Inglese</p>
            <button class="card__btn">Profilo</button>
          </div>
        </div>
  
        <div class="card swiper-slide">
          <div class="card__image">
          <%= image_tag "guida4.jpg", class: 'card image'%>
            
          </div>
  
          <div class="card__content">
            <span class="card__title">Kelsey West</span>
            <p class="card__text">Città: Roma</p>
            <p class="card__text">Lingue: Italiano, Inglese</p>            
            <button class="card__btn">Profilo</button>
          </div>
        </div>
  
      </div>
    </section>
        <script>
      var a;
      function myfunction() {
        if (
          navigator.userAgent.match(/webOS/i) ||
          navigator.userAgent.match(/iPhone/i) ||
          navigator.userAgent.match(/iPod/i) ||
          navigator.userAgent.match(/BlackBerry/i) ||
          navigator.userAgent.match(/Windows Phone/i) ||
          screen.orientation.type("portrait-secondary")
        ) {
          a = true;
          const home = document.getElementById("home");
          home.remove();
          const search = document.getElementById("searchbar");
          search.remove();
        } else {
          a = false;
        }
        //alert(a);
      }
      myfunction();
    </script>
    
>>>>>>> a4a836a613c8db8474711cd329815abab556f9ba
   
   