<% content_for :for_head do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <%= stylesheet_link_tag "application-guides" %>
  <%= stylesheet_link_tag "application" %>
<% end %>

<div class="all_header" style="background-image: url('<%= image_path('banner_mario.jpg') %>')">
  <h1>Discover</h1>
  <p>Go ever wherever</p>
</div>
<div class="navheader_general" id="navbar">
  <nav class="navbar">
    <a href="<%= home_pages_path %>">Home</a>
    <%= link_to 'Visite', posts_path %>
    <%= link_to 'Guide', guides_path %>
    <% if !user_signed_in? %>
      <a href="<%= new_user_session_path() %>">Login</a>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% end %>
    <a href="bacheca.html">Profilo</a>
  </nav>
</div>
<div class="container-search">
  <div class="search_container" id="search">
    <%= form_with(url: url_for(controller: 'pages', action: 'guides'), method: 'post', id: 'myform', data: { remote: true }) do |form| %>
      <div class="search-bar_center">
        <%= text_field_tag(:nome, nil, placeholder: 'Nome...', id: 'cerca') %>
        <%= text_field_tag(:citta, nil, placeholder: 'Città...', id: 'cercacitta') %>
        <%= text_field_tag(:linguaggio, nil, placeholder: 'Lingua...', id: 'cercalingua') %>
        <%= text_field_tag(:nazione, nil, placeholder: 'Nazione...', id: 'cercanazione') %>
      </div>
      
    <% end %>
  </div>
</div>
<section class="swiper mySwiper">
  <div class="swiper-wrapper" id="guides-wrapper">
  <%= render 'guides_results', guides: @guides %>
  
  
  </div>
</section>

<script>
  var a;
  function myfunction() {
    if (
      navigator.userAgent.match(/webOS/i) ||
      navigator.userAgent.match(/iPhone/i) ||
      navigator.userAgent.match(/iPod/i) ||
      navigator.userAgent.match(/BlackBerry/i) ||
      navigator.userAgent.match(/Windows Phone/i)
    ) {
      a = true;
      const home = document.getElementById("home");
      home.remove();
      const search = document.getElementById("searchbar");
      search.remove();
    } else {
      a = false;
    }
    //alert(a);
  }
  myfunction();
</script>


<script>
$(document).ready(function() {
  var cercaValue = '';
  var cercacittaValue = '';
  var cercaLinguaValue='';
  var cercaNazioneValue='';
  $('#cerca').on('input', function() {
    cercaValue = $(this).val();
    $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cerca"
  });
    $('#cercalingua').on('input', function() {
    cercaLinguaValue = $(this).val();
    $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cerca"
  });
  $('#cercacitta').on('input', function() {
    cercacittaValue = $(this).val();
    $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cercacitta"
  });
    $('#cercanazione').on('input', function() {
    cercaNazioneValue = $(this).val();
    $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cercacitta"
  });

  $('#myform').on('submit', function(event) {
    event.preventDefault(); // Evita il comportamento predefinito del browser di sottomissione del modulo
    var form = $(this);
    
    $.ajax({
      url: form.attr('action'),
      method: form.attr('method'),
      data: form.serialize(),
      success: function(response) {
        $('#guides-wrapper').html(response);
        $('#cerca').val(cercaValue);
        $('#cercacitta').val(cercacittaValue);
        $('#cercalingua').val(cercaLinguaValue);
        $('#cercanazione').val(cercaNazioneValue);
      }
    });
  });
});



</script>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <%= javascript_include_tag "script_guide" %>
   
   