<% content_for :for_head do %>
  <%= stylesheet_link_tag "application-home"%>
  <%= stylesheet_link_tag "application" %>
<% end %>
<!-- I'm verifying if I'm using a mobile browser // a little different from the js in js/script_responsiveness.js -->
<script>
var a;
function myfunction() {
if (
    navigator.userAgent.match(/Android/i) ||
    navigator.userAgent.match(/webOS/i) ||
    navigator.userAgent.match(/iPhone/i) ||
    navigator.userAgent.match(/iPad/i) ||
    navigator.userAgent.match(/iPod/i) ||
    navigator.userAgent.match(/BlackBerry/i) ||
    navigator.userAgent.match(/Windows Phone/i) 
    
) {
    a = true;
    window.location.replace("app.html");
} else {
    a = false;
}
//alert(a);
}
myfunction();
</script>
<!-- here the code for not mobile users -->
<div class="all_header" style="background-image: url('<%= image_path('banner_mario.jpg')%>')">
<h1>Discover</h1>
<p>Go ever wherever</p>
</div>
<div class="navheader" id="navbar">
    <nav class="navbar">
        <a href="#">Home</a>
        <a href="app.html">Visite</a>
        <%= link_to 'Guide', guides_path %>
        <%if !user_signed_in?%>
            <a href="<%= new_user_session_path() %>">Login</a>
        <%end%>
        <%if user_signed_in?%>
            <%=link_to "Logout", destroy_user_session_path, :method => :delete %>
        <%end%>
        <a href="bacheca.html">Profilo</a>
    </nav>
</div>

<div class="container">
<div class="sec2 sections">
<div class="image1">
    ì<%= image_tag "ROMA.png", class: 'image' %>ì
    <div class="middle">
    <div class="text1">Castel Sant'Angelo</div>
    </div>
</div>
<div class="section_container">
    <div class="text">
    <p class="title">Discover</p>
    <p class="description">
        Discover è un'app che consente agli utenti di trovare una guida
        turistica per il posto in cui soggiornano o in cui avranno
        intenzione di farlo. <br />
        Puoi scegliere il luogo e trovare l'esperto, l'itinerario ed il
        prezzo più adatti per te. Tutto, in maniera più che semplice!
        <br />
        Grazie alla semplicità del sito ed alla gestione rapida delle
        richieste trovare la guida più adatta a te diventa facilissimo!
        <br />
        Inizia subito a cercare il miglior percorso per vivere la tua
        prossima esperienza! <br />
        Collaboriamo con esperti del settore e provvediamo strumenti per
        permettere un risultato sicuro e veloce. <br />
        Per cominciare potresti effettuare il Login oppure cliccare sulla
        sezione "Visite" presente in alto nel sito. Se sei interessato a
        scoprire le nostre potenzialità, invece, continua a scorrere!
        <br />
        Potrai scoprire cosa ci rende unici e quindi il motivo per cui
        sceglierci! <br />
        Allora, che ne dici?
    </p>
    </div>
</div>
</div>

<div class="sec1 sections">
<div class="section_container reveal">
    <div class="text">
    <p class="title">Come funziona</p>
    <p class="description">
        Per iniziare, puoi scegliere di effettuare il Login cliccando su
        "Login" in alto oppure andare direttamente nella sezione "Visite"
        ed effettuare la ricerca mediante la barra di ricerca posta oppure
        cercando le alternative proposte automaticamente dal sito in base
        alla tua attuale posizione. <br />
        Davanti a te avrai molte schede pubblicate da guide turistiche con
        titolo, descrizione, data ed orario. Appena avrai trovato la
        scheda più adatta a te potrai scegliere di prenotarla premendo il
        bottone "Prenota" in basso a destra della scheda. <br />
        Ti saranno proposti due tipologie di prezzo: il prezzo totale non
        ancora diviso per il numero di componenti ed una stima del prezzo
        da pagare nel caso la visita raggiunga il tetto massimo di
        turisti. <br />
        Se sei il primo a prenotarti potrai scegliere di avere il servizio
        offerto privatamente ricoprendone completamente il costo,
        divisibile a seconda che sei solo o in compagnia! <br />
        Altrimenti potrai venire a conoscenza del prezzo stimato che
        potrebbe subire piccole variazioni in positivo o in negativo a
        seconda della disponibilità del gruppo. <br />
        Il pagamento avverrà solo un giorno prima della visita, limite
        entro cui non sarà più possibile annullare la prenotazione. Se
        invece ti stai prenotando per il giorno stesso, allora sei sicuro
        di voler intraprendere il tuo viaggio! Allora che aspetti per
        iniziare?
    </p>
    </div>
</div>
<div class="image1 reveal">
    <%= image_tag "tutte-le-strade-portano-a-roma.jpg", class: 'image'%>
    <div class="middle">
    <div class="text1">Colosseo</div>
    </div>
</div>
</div>
<div class="sec3 sections">
<div class="image1 reveal">
    <%= image_tag "mondo.jpg", class: 'image'%>
    <div class="middle">
    <div class="text1">San Pietro</div>
    </div>
</div>
<div class="section_container reveal">
    <div class="text">
    <p class="title">Soluzioni Moderne</p>
    <p class="description">
        Il nostro algoritmo ci permette di identificare nel miglior modo
        possibile il miglior prezzo attualmente presente sul mercato.
        Siamo anche in grado di stimare nel breve termine possibili
        variazioni che potrebbero sopraggiungere nel giro di qualche ora,
        così da avvisarti in tempo nel caso il prezzo di un volo stia
        diminuendo! <br />
        Che dici, è abbastanza per cominiciare un'avventura con noi? Il
        nostro algoritmo ci permette di identificare nel miglior modo
        possibile il miglior prezzo attualmente presente sul mercato.
        Siamo anche in grado di stimare nel breve termine possibili
        variazioni che potrebbero sopraggiungere nel giro di qualche ora,
        così da avvisarti in tempo nel caso il prezzo di un volo stia
        diminuendo! <br />
        Che dici, è abbastanza per cominiciare un'avventura con noi?
    </p>
    </div>
</div>
</div>
</div>
