<% @posts.each_with_index do |post, index| %>
  <% if post.persone_rimanenti != 0 %>
  <% if ((Time.now.strftime("%Y-%d-%m") < post.data.strftime("%Y-%d-%m")) || ((Time.now.strftime("%H:%M:%S") < post.ora.strftime("%H:%M:%S")) && (Time.now.strftime("%Y-%d-%m") == post.data.strftime("%Y-%d-%m")))) %>
      <%= puts index %>
      <% if (index.odd? || index==0) %>
        <ul class="cards">
      <% end %> 
      <li class='card'>
      <div class='card_image'>
        <%if post.user.avatar.attached?%>
            <%= image_tag post.user.avatar, class: 'img' %>
        <%end%> <!-- mettere l'immagine corretta -->
      </div>
      <h3 class='card-title'>
          <%= post.titolo %>
          <% if post.expired? %>
            - scaduto
          <% end %>
      </h3>
      <div class='card-content'>
          <p>
              <%= post.descrizione%>
          </p>
          <hr> 
          <h4 style='font-size: 15px'><%= t('post_citta')%><%= post.nomeC %> <br/></h4>
          </div>
          
          <div class='card-languages'>
              <h4>
                  <%= t('post_lingua') %>% <span style='font-weight: normal;'><%= post.lingua %></span> <br />
                  <%= t('post_date')%> <span style='font-weight: normal'><%= post.instance_variable_get(:@data) %> <%= post.instance_variable_get(:@ora) %></span>
              </h4>
          </div>
          <div class='card-link-wrapper'>
              <% if !user_signed_in? %>
                <%= link_to t('contatta'), conversation_path(other_email: post.user_email), class: "card-link"%>
              <% elsif current_user.email != post.user_email %>
                <%= link_to t('contatta'), conversation_path(other_email: post.user_email), class: "card-link"%>
                <%= link_to t('vedi_profilo'), show_bacheca_for_others_path(user_id: post.user.id), class: "card-link"%>
              <% end %>
              <br>
              <% if post.expired? %>
                <%= link_to t('vedi_recensioni'), post_path(post), class: "card-link" %>
              <% else %>
                <%= link_to post.instance_variable_get(:@total_price), post_path(post), class: "card-link" %>
              <% end %>
              <br>
          </div>
          </li> 
      <% if index.even? || index == @posts.size %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>