<% new_variable = 0 %>
<% @posts.each do |post| %>
  <%= puts new_variable %>
  <% if post.persone_rimanenti != 0 %>
    <% if ((Time.now.strftime("%Y-%d-%m") < post.data.strftime("%Y-%d-%m")) || ((Time.now.strftime("%H:%M:%S") < post.ora.strftime("%H:%M:%S")) && (Time.now.strftime("%Y-%d-%m") == post.data.strftime("%Y-%d-%m")))) %>
        <% if (new_variable.even?) %>
          <ul class="cards">
        <% end %> 
        <li class='card'>
        <div class='card_image'>
          <%if post.user.avatar.attached?%>
              <%= image_tag post.user.avatar, class: 'img' %>
          <%end%> <!-- mettere l'immagine corretta -->
        </div>
        <h3 class='card-title'>
            <%= post.titolo %>
            <% if post.expired? %>
              - scaduto
            <% end %>
        </h3>
        <div class='card-content'>
            <p>
                <%= post.descrizione%>
            </p>
            <hr> 
            <h4 style='font-size: 15px'><%= t('post_citta')%><%= post.nomeC %> <br/></h4>
            </div>
            
            <div class='card-languages'>
                <h4>
                    <%= t('post_lingua') %> <span style='font-weight: normal;'><%= post.lingua %></span> <br />
                    <%= t('post_date')%> <span style='font-weight: normal'><%= post.instance_variable_get(:@data) %> <%= post.instance_variable_get(:@ora) %></span>
                </h4>
            </div>
            <div class='card-link-wrapper'>
                <% if !user_signed_in? %>
                  <%= link_to t('contatta'), conversation_path(other_email: post.user_email), class: "card-link"%>
                <% elsif current_user.email != post.user_email %>
                  <%= link_to t('contatta'), conversation_path(other_email: post.user_email), class: "card-link"%>
                  <%= link_to t('vedi_profilo'), show_bacheca_for_others_path(user_id: post.user.id), class: "card-link"%>
                <% end %>
                <br>
                <% if post.expired? %>
                  <%= link_to t('vedi_recensioni'), post_path(post), class: "card-link" %>
                <% else %>
                  <%= link_to post.instance_variable_get(:@total_price), post_path(post), class: "card-link" %>
                <% end %>
                <br>
            </div>
            </li> 
        <% if new_variable.odd? || new_variable == @posts.size-1 %>
          </ul>
        <% end %>
      <% end %>
    <% new_variable += 1 %>
  <% end %>
<% end %>