<% content_for :for_head do %>
  <%= stylesheet_link_tag "application-post"%>
  <%= stylesheet_link_tag "application" %>
<% end %>
  

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Visite</title>

    <div class="all_header" style="background-image: url('<%= image_path('banner_mario.jpg')%>')">
<h1>Discover</h1>
<p>Go ever wherever</p>
</div>
<div class="navheader_general" id="navbar">
    <nav class="navbar">
        <a href="<%= home_pages_path %>">Home</a>
        <%= link_to 'Visite', posts_path %>
        <%= link_to 'Guide', guides_path %>
        <%if !user_signed_in?%>
            <a href="<%= new_user_session_path() %>">Login</a>
        <%end%>
        <%if user_signed_in?%>
            <%=link_to "Logout", destroy_user_session_path, :method => :delete %>
        <%end%>
        <a href="bacheca.html">Profilo</a>
    </nav>
</div>

    <!-- deleting the "home" from the navbar while using a mobile device -->
    <script>
      myfunction();
    </script>

    <div class="container">
      <div class="container-search">
  <div class="search_container" id="search">
    <%= form_tag(url_for(controller: 'posts', action: 'index'), method: 'get', id: 'myform') do %>
      <div class="search-bar_center">
        <%= text_field_tag(:citta, nil, placeholder: 'Citta...') %>
        <%= text_field_tag(:lingua, nil, placeholder: 'Lingua...') %>
      </div>
      <%= submit_tag '' %>
    <% end %>
  </div>
</div>

      <link
        rel="stylesheet"
        href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
      />
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script type="text/javascript" src="js/script_app-query.js"></script>
    
    <% @posts.each_with_index do |post, index| %>
    <% if index.even? %>
    <ul class="cards">
  <% end %>


   
    
  
    <li class='card'>
    <div class='card_image'>
      <%= image_tag "guida4.jpg"%>
    </div>
    <h3 class='card-title'>
        <%= post.titolo %> <br> 
        <!--<span class='name'> nome cognome </span>-->
    </h3>
    <div class='card-content'>
        <p>
            <%= post.descrizione%>
        </p>
        <hr> 
        <h4 style='font-size: 15px'>Città: <%= post.nomeC %> <br/></h4>
        </div>
        
        <div class='card-languages'>
            <h4>
                Lingua: <span style='font-weight: normal;'><%= post.lingua %></span> <br />
                Data e ora: <span style='font-weight: normal'><%= post.instance_variable_get(:@data) %> <%= post.instance_variable_get(:@ora) %></span>
            </h4>
        </div>
        <div class='card-link-wrapper'> 
             <%= link_to post.instance_variable_get(:@total_price), post_path(post), class: "card-link" %>
        </div>
        </li> 
          <% if index.odd? || index == @posts.size - 1 %>
    </ul>
    <% end %>
   
    <% end %>
 

      <!-- AJAX -->
     <!--<script>
        window.onload = caricaRisorsa;
        function caricaRisorsa(e) {
          var httpRequest = new XMLHttpRequest();
          httpRequest.onreadystatechange = gestisciResponse;
          httpRequest.open("GET", "app.php", true);
          httpRequest.send();
        }
        function gestisciResponse(e) {
          if (
            e.target.readyState == XMLHttpRequest.DONE &&
            e.target.status == 200
          ) {
            document.getElementById("zonaDinamica").innerHTML =
              e.target.responseText;
          }
        }
      </script>-->

      <!--JQuery-->
 <!--     <script>
        var string = "";
        $("#search").on("keydown", function () {
          $("#zonaDinamica").load("app.php", $("#myform").serialize());
        });
      </script>-->

      <!--Prevent the form from submitting-->
  <!--
      <script>
        $(window).ready(function () {
          $("#form").on("keypress", function (event) {
            var keyPressed = event.keyCode || event.which;
            if (keyPressed === 13) {
              event.preventDefault();
              return false;
            }
          });
        });
      </script>

      <script>
        $(window).on("load", function () {
          $("#login_logout").load("logout.php");
        });
      </script>
      <script>
        $(window).on("load", function () {
          $("#benvenuto").load("benvenuto.php");
        });
      </script>-->
   
    </div>
 <%= javascript_include_tag "script_app" %>
 <%= javascript_include_tag "script" %>
 <%= javascript_include_tag "script_responsiveness" %>

