<% content_for :for_head do %>
  <%= stylesheet_link_tag "application-post"%>
  <%= stylesheet_link_tag "application" %>
<% end %>   

<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4CVx_y35NwW07nB7CCOi0HLQu44HVov0&callback=init_map" async defer></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



    <title>Visite</title>

    <div id="home" class="all_header" style="background-image: url('<%= image_path('banner_mario.jpg')%>')">

    <h1>Discover</h1>
    <p>Go ever wherever</p>
    </div>
    <div class="navheader_general" id="navbar_app">
        <nav class="navbar">
            <a href="<%= home_pages_path %>">Home</a>
            <%= link_to 'Visite', posts_path %>
            <%= link_to 'Guide', guides_path %>
            <%if !user_signed_in?%>
                <a href="<%= new_user_session_path() %>">Login</a>
            <%end%>
            <%if user_signed_in?%>
                <%=link_to "Logout", destroy_user_session_path, :method => :delete %>
            <%end%>
            <a href="bacheca.html">Profilo</a>
        </nav>
    </div>

    <!-- deleting the "home" from the navbar while using a mobile device -->
   
    <script>
      var a;
      function myfunction() {
        if (
          navigator.userAgent.match(/webOS/i) ||
          navigator.userAgent.match(/iPhone/i) ||
          navigator.userAgent.match(/iPod/i) ||
          navigator.userAgent.match(/BlackBerry/i) ||
          navigator.userAgent.match(/Windows Phone/i)
        ) {
          a = true;
          const home = document.getElementById("home");
          home.remove();
          const search = document.getElementById("searchbar");
          search.remove();
        } else {
          a = false;
        }
        //alert(a);
      }
      myfunction();
    </script>

      <div class="container-search">
        <div class="search_container" id="search">
        <%= form_with(url: url_for(controller: 'posts', action: 'index'), method: 'get', id: 'myform', data: { remote: true }) do |form| %>
            <div class="search-bar_center">
              <%= text_field_tag(:citta, nil, placeholder: 'Citta...',id: 'cercacitta') %>
              <%= text_field_tag(:lingua, nil, placeholder: 'Lingua...',id: 'cercalingua') %>
            </div>
            <%= submit_tag '' %>
          <% end %>
        </div>
      </div>
      <button id="see_map" onclick="return see_map();">Let me see the map</button>

      <div id="map_container" class="map_container">
        <div id="mapDiv" class="map_class"></div>
      </div>

    <div class="container" id="wrapper_post">
     <%= render 'posts_results', posts: @posts %>
    </div>
    
    <script>bar_color()</script>
    
    <script>
    $(document).ready(function() {
      var cercacittaValue = '';
      var cercaLinguaValue='';

        $('#cercalingua').on('input', function() {
        cercaLinguaValue = $(this).val();
        $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cerca"
      });
      $('#cercacitta').on('input', function() {
        cercacittaValue = $(this).val();
        $('#myform').trigger('submit'); // Simula l'invio del modulo quando viene modificato il campo "cercacitta"
      });

      $('#myform').on('submit', function(event) {
        event.preventDefault(); // Evita il comportamento predefinito del browser di sottomissione del modulo
        var form = $(this);
        
        $.ajax({
          url: form.attr('action'),
          method: form.attr('method'),
          data: form.serialize(),
          success: function(response) {
            $('#wrapper_post').html(response);
            $('#cercacitta').val(cercacittaValue);
            $('#cercalingua').val(cercaLinguaValue);
          }
        });
      });
    });
    </script>


<!-- PRELEVO LA POSIZIONE ATTUALE DELLA GUIDA -->
<!-- Da togliere -->
<script>
function init_position() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude,
      };

      $.ajax({
        type: "GET",
        url: "<%= update_location_guide_users_path %>",
        data: { lat: pos.lat, lng: pos.lng },
        success: function () {
          console.log("Location saved successfully");
        },
        error: function () {
          console.log("Error saving location");
        },
      });
    });
  }
} 
</script>

<%= javascript_include_tag "script_app" %>
<%= javascript_include_tag "script" %>
<%= javascript_include_tag "script_responsiveness" %>