<% content_for :for_head do %>
  <%= stylesheet_link_tag "application-post"%>
  <%= stylesheet_link_tag "application" %>
       
<% end %>   
<%= javascript_include_tag "script" %>
<%= javascript_include_tag "script_responsiveness" %>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<%= render @post %>
<h1>Nome della guida: <%= @post.user.name %> </h1> <br>
<!--<%= link_to "Profilo", pages_path(email: @post.user_email) %>-->
<h1>Titolo: <%= @post.titolo %></h1> <br>
<h3>Descrizione: <%= @post.descrizione %> </h3><br>
<h3>Città: <%= @post.nomeC %></h3><br>
<h3>Lingua: <%= @post.lingua %></h3><br>
<h3>Data e ora: <%= @data %> <%= @ora %></h3><br>
<h3>Numero di persone: <%= @post.persone_rimanenti %></h3><br>
<%= form_tag(new_booking_path, method: :get, id: "pay_form") do %>
  <div class="field">
    <%= label_tag :persone, "Persone" %>
    <%= number_field_tag :persone , value=0, step: 1, id: "post_persone", max: @post.persone_rimanenti, min: 0 %>
  </div>
  <div class="field">
    <%= hidden_field_tag :post_id,value=@post.id %>
  </div>
  <% if can?(:create, Booking) %>
  <% if @post.persone_rimanenti > 0 %>
    <%= submit_tag "Prenota" %>
  <% else %>
    <span class="text-danger">Posti esauriti</span>
    <% end %>
  <%else%>
  <span class="text-danger">Una guida non può prenotare</span>
  <%end%>
<% end %>

<% if @post.persone_rimanenti == @post.persone %>
  <button id="fill-form-button">Prenota una visita privata</button>
  <%= javascript_tag do %>
      document.getElementById('fill-form-button').addEventListener('click', function() {
      document.getElementById('post_persone').value = <%= @post.persone_rimanenti %>; 
      document.getElementById('pay_form').submit(); <!-- non funziona la submit (SIMONE) -->
      });
<% end %>
<% end %>
<br> <br>
<h3 style="color: green">Prezzo: <div id="price"></div> <%=@price%> </h3>
<br> <br>
<%= javascript_tag do %>
  $(document).ready(function() {
    var personeInput = $('#post_persone');
    console.log(personeInput);
    personeInput.on('input', function() {
      var selectedValue = personeInput.val();
      console.log(personeInput.val());
      $.ajax({
        url: '<%= get_price_post_path(@post) %>',
        method: 'GET',
        data: { persone: selectedValue },
        success: function(response) {
          var priceInput = $('#price');
          priceInput.text(response.price + ' Euro');
          console.log(priceInput);
          console.log("Success with changing price");
        },
        error: function () {
          var priceInput = $('#price');
          priceInput.text('Numero improcessabile di persone');
          console.log("Error changing the price");
        }
      });
    });
  });
<% end %>

<div>
  <%= link_to "Back to posts", posts_path %>

</div>


