<div class="all_header" style="background-image: url('<%= image_path('banner_mario.jpg')%>')">
<h1>Discover</h1>
<p>Go ever wherever</p>
</div>
<div class="navheader" id="navbar">
    <nav class="navbar">
        <a href="#">Home</a>
        <%=link_to t('visite'), posts_path%>
        <%= link_to t('guide'), guides_path %>
        <%if !user_signed_in?%>
            <a href="<%= new_user_session_path() %>">Login</a>
        <%end%>
        <%if user_signed_in?%>
            <%=link_to t('logout'), destroy_user_session_path, :method => :delete %>
            <%=link_to t('profilo'), :method => :get%>
            <%= link_to t('bacheca'), bacheca_bacheca_guida_path(1) %>
        <%end%>
        <%= form_tag switch_language_path, method: :post do %>
        <%= select_tag :language, options_for_select(language_options, I18n.locale.to_s) %>
        <%= submit_tag 'Switch Language' %>
        <% end %>
    </nav>
</div>